:root {
  color-scheme: light dark;

  --background-lt: #fff;
  --background-dk: #282c34;
  --text-lt: #001219;
  --text-dk: #eee;
  --text-medium-lt: #555;
  --text-medium-dk: #ccc;
  --border-lt: #bbb;
  --border-dk: #888;
  --primary-lt: 56.18% 0.247 26.87;
  --primary-dk: 70.88% 0.2 20.32;

  --sans: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  --serif: 'Source Serif', georgia, serif;

  --space-sm: 0.75rem;
  --space-md: 1.5rem;
  --space-lg: 3rem;
  --space-xl: 6rem;
}

@media screen and (prefers-color-scheme: dark) {
  img {
    opacity: 0.75;
  }
}

@font-face {
  font-family: 'Source Serif';
  src: url('/font/SourceSerifVariable-Roman.otf.woff2') format('woff2-variations');
  font-style: normal;
  font-weight: 375 600;
}

@font-face {
  font-family: 'Source Serif';
  src: url('/font/SourceSerifVariable-Italic.otf.woff2') format('woff2-variations');
  font-style: italic;
  font-weight: 375 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background: light-dark(oklch(var(--primary-lt)), oklch(var(--primary-dk)));
  color: light-dark(var(--background-lt), var(--background-dk));
}

html {
  font-size: 18px;
}

html,
body {
  min-height: 100dvh;
}

body {
  background: light-dark(var(--background-lt), var(--background-dk));
  color: light-dark(var(--text-lt), var(--light-dk));
  font-family: var(--serif);
  font-feature-settings: 'liga', 'clig';
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 375;
  line-height: 1.45;
  margin: var(--space-md);
  text-rendering: optimizelegibility;
  text-wrap: pretty;
}

a {
  color: light-dark(oklch(var(--primary-lt)), oklch(var(--primary-dk)));
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  touch-action: manipulation;
}

blockquote {
  font-size: 1.6rem;
  font-style: italic;
  margin: 2.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans);
  line-height: 1.15;
  letter-spacing: -0.03rem;
  margin: 0;
  text-wrap: balance;
}

h1 {
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 1;
  margin: 0 0 0.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2.75rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2.25rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 2.25rem;
}

img,
svg {
  vertical-align: middle;
}

small {
  color: light-dark(var(--text-medium-lt), var(--text-medium-dk));
  font-size: 1rem;
}

strong {
  font-weight: 600;
}

nav {
  margin-block-end: var(--space-lg);

  ul {
    align-items: baseline;
    background: light-dark(var(--background-lt), var(--background-dk));
    color: light-dark(var(--text-medium-lt), var(--text-medium-dk));
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    display: block;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      color: light-dark(oklch(var(--primary-lt)), oklch(var(--primary-dk)));
    }
  }

  @media print {
    display: none;
  }
}

#logo {
  font-family: var(--sans);
  font-size: 1.25rem;
  font-weight: 900;
  border: 1px solid currentColor;
  padding: 0.3ch;
  user-select: none;
}

#headshot {
  margin-block-end: 1rem;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  list-style: none;
  padding: 0;

  h3 {
    margin-top: 0;
  }
}

header {
  margin-bottom: 2.75rem;
}

li + li {
  margin-top: 0.5rem;
}

article img {
  width: 100%;

  &.shadow {
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
  }
}

figure {
  margin: 1.5em 0;
}

figcaption {
  color: light-dark(var(--text-medium-lt), var(--text-medium-dk));
  font-size: 1rem;
  font-style: italic;
  margin-top: 0.75em;
}

@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-rows: min-content 1fr;
    margin: 0;
  }

  nav {
    margin: var(--space-lg);
  }

  main {
    /* display: grid; */
    padding-block-end: var(--space-lg);
    padding-inline: var(--space-lg);
    max-width: 80ch;
  }

  #headshot {
    inset: 0 0 0 auto;
    height: 100vh;
    margin: 0;
    position: fixed;
    object-fit: cover;
    user-select: none;
    width: 40vw;
  }

  #hero {
    align-items: center;
    display: grid;
    height: 100%;
    margin-block: auto;
    width: calc(60vw - var(--space-xl));
  }

  figure {
    margin-block: 1.5em;
  }
}

/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * @author ericwbailey
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.4;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1rem 1.25rem;
  margin: 1.25rem 0;
  overflow: auto;
  border-radius: 0.3rem;
  width: 100%;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: rgb(40, 44, 52);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1rem;
  border-radius: 0.3rem;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #d4d0ab;
}

.token.punctuation {
  color: #fefefe;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ffa07a;
}

.token.boolean,
.token.number {
  color: #00e0e0;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #abe338;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #00e0e0;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #ffd700;
}

.token.keyword {
  color: #00e0e0;
}

.token.regex,
.token.important {
  color: #ffd700;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

@media screen and (-ms-high-contrast: active) {

  code[class*="language-"],
  pre[class*="language-"] {
    color: windowText;
    background: window;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: window;
  }

  .token.important {
    background: highlight;
    color: window;
    font-weight: normal;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.selector {
    font-weight: bold;
  }

  .token.attr-value,
  .token.comment,
  .token.doctype,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.property,
  .token.string {
    color: highlight;
  }

  .token.attr-value,
  .token.url {
    font-weight: normal;
  }
}
