:root {
  --background: #fff;
  --text: #001219;
  --text-medium: #555;
  --primary: #d61e23;
  --sans: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  --serif: 'Source Serif', georgia, serif;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background: 40, 44, 52;
    --text: #dedede;
    --text-medium: #aaa;
    --primary: #FB5B65;
  }

  img {
    opacity: 0.75;
  }
}

@font-face {
  font-family: 'Source Serif';
  src: url('/font/SourceSerifVariable-Roman.otf.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif';
  src: url('/font/SourceSerifVariable-Italic.otf.woff2');
  font-weight: normal;
  font-style: italic;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

html, body {
  min-height: calc(100vh - 4rem);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--serif);
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga', 'clig';
  font-variation-settings: "wght" 375;
  line-height: 1.45;
  margin: 0;
  padding: 1rem;
  text-rendering: optimizelegibility;
}

a {
  color: var(--primary);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans);
  font-variation-settings: "wght" 800;
  line-height: 1.15;
  letter-spacing: -0.03rem;
  margin: 0;
}

img, svg {
  vertical-align: middle;
}

small {
  font-size: 1rem;
}

/* Navigation */

nav ul {
  display: flex;
  font-size: 1rem;
  gap: 1rem;
  list-style: none;
  margin: 0 0 4rem;
  padding: 0;
  position: relative;
  z-index: 1;
}

nav a {
  color: var(--text-medium);
  text-decoration: none;
}

/* Layout */

main {
  margin-bottom: 8rem;
}

#headshot {
  margin-bottom: 2rem;
  object-fit: cover;
}

#hero h1 {
  font-size: 2.25rem;
  line-height: 1.1;
}

/*  Posts  */

.posts {
  color: var(--text-medium);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.2;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Content */

header {
  margin-bottom: 2.75rem;
}

header h1 {
  font-size: 2.75rem;
  line-height: 1;
  margin: 0 0 0.5rem;
}

header div {
  color: var(--text-medium);
  font-size: 1.1rem;
}

article h2 {
  font-size: 2rem;
  margin-top: 2.5rem;
}

article h3 {
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

article h4 {
  font-size: 1.25rem;
  margin-top: 2.5rem;
}

article li + li {
  margin-top: 0.5rem;
}

article img {
  width: 100%;
}

@media (min-width: 768px) {
  body {
    padding: 2rem calc(100vw - 2rem - 70ch) 2rem 4rem;
  }

  #headshot {
    bottom: 0;
    height: 100vh;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 50vw;
    z-index: -1
  }

  #hero {
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    width: calc(50vw - 8rem);
  }

  article img {
    margin: 1.5rem 0 1.5rem -2rem;
    width: 125%;
  }
}



/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * @author ericwbailey
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1rem;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.4;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1rem 1.25rem;
	margin: 1.25rem 0;
	overflow: auto;
	border-radius: 0.3rem;
  width: 100%;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: rgb(40, 44, 52);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1rem;
	border-radius: 0.3rem;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #d4d0ab;
}

.token.punctuation {
	color: #fefefe;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #ffa07a;
}

.token.boolean,
.token.number {
	color: #00e0e0;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #abe338;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #00e0e0;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #ffd700;
}

.token.keyword {
	color: #00e0e0;
}

.token.regex,
.token.important {
	color: #ffd700;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

@media screen and (-ms-high-contrast: active) {
	code[class*="language-"],
	pre[class*="language-"] {
		color: windowText;
		background: window;
	}

	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		background: window;
	}

	.token.important {
		background: highlight;
		color: window;
		font-weight: normal;
	}

	.token.atrule,
	.token.attr-value,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.selector {
		font-weight: bold;
	}

	.token.attr-value,
	.token.comment,
	.token.doctype,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.property,
	.token.string {
		color: highlight;
	}

	.token.attr-value,
	.token.url {
		font-weight: normal;
	}
}
