:root {
  --text: #333;
  --text-medium: #555;
  --primary: #eb4d55;
  --primary-dark: #d61e23;
  --sans: 'Source Sans', helvetica, arial, sans-serif;
  --serif: 'Source Serif', georgia, serif;
  --side-col: calc(768px / 5);
}

@font-face {
  font-family: 'Source Sans';
  src: url('/font/SourceSansVariable-Roman.ttf.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif';
  src: url('/font/SourceSerifVariable-Roman.otf.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif';
  src: url('/font/SourceSerifVariable-Italic.otf.woff2');
  font-weight: normal;
  font-style: italic;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background-color: #fff;
  color: var(--text);
  font-family: var(--serif);
  font-size: 1rem;
  font-variation-settings: "wght" 400;
  font-feature-settings: 'liga', 'clig';
  line-height: 1.45;
  margin: 0 auto;
  max-width: 768px;
  padding: 1.5rem;
  text-rendering: optimizelegibility;
}

header {
  margin-bottom: 2.5rem;
}

section {
  margin-bottom: 1.5rem;
}

article:not(:first-child) {
  margin-top: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans);
  font-variation-settings: "wght" 500;
  letter-spacing: -0.03rem;
  margin: 0;
}

h1 {
  color: var(--primary-dark);
  font-size: 2rem;
  font-variation-settings: "wght" 650;
}

h2, h3, h4 {
  font-size: 1.25rem;
}

h3 {
  border-top: 1px solid var(--text-medium);
  color: var(--text-medium);
  margin: 0 0 1.5rem;
  padding-top: 0.5rem;
}

p {
  margin: 0;
}

section > p {
  margin-top: 0.2rem;
}

small {
  color: var(--text-medium);
}

span {
  color: var(--text-medium);
  font-variation-settings: "wght" 300;
}

span:before {
  content: " / "
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  html:before {
    background: linear-gradient(-135deg, var(--primary) 0%, var(--primary-dark) 100%);
    content: "";
    height: 100vh;
    position: fixed;
    width: 0.5rem;
  }

  header {
    padding-left: var(--side-col);
  }

  section {
    display: flex;
  }

  h3 {
    align-self: flex-start;
    border: 0;
    max-width: var(--side-col);
    min-width: var(--side-col);
    padding: 0;
  }

  li {
    display: inline-block;
  }

  li:not(:last-child):after {
    content: ' / '
  }
}

@media print {
  * {
    color: black !important;
  }

  html {
    font-size: 16px;
  }

  header {
    padding-left: var(--side-col);
  }

  section {
    display: flex;
  }

  h3 {
    border: 0;
    max-width: var(--side-col);
    min-width: var(--side-col);
    padding: 0;
  }

  li {
    display: inline-block;
  }

  li:not(:last-child):after {
    content: ' / '
  }
}
