<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} &mdash; Daniel Marino</title>
    <meta description="Daniel Marino is passionate about crafting simple, high-quality experiences.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%- if ('/resume' in page.url) or ('/work' in page.url) %}
      <meta name="robots" content="noindex">
    {%- endif %}

    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:image" content="{{ site.url }}/img/marino.jpg">
    <meta property="og:url" content="{{ site.url }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.authorHandle }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:image" content="{{ site.url }}/img/marino.jpg">

    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/favicon.svg" color="black">
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/" aria-label="Daniel Marino">DM</a></li>
        <li><a href="/posts">Posts</a></li>
        {%- if env.environment == 'localhost' %}
          <li><a href="/work">Work</a></li>
          <li><a href="/resume">Resume</a></li>
        {%- endif %}
        <li><a href="https://twitter.com/starzonmyarmz">Twitter</a></li>
        <li><a href="https://github.com/starzonmyarmz">GitHub</a></li>
      </ul>
    </nav>

    {%- if page.url == '/' %}
      <img src="/img/headshot.jpg" alt="Headshot of Daniel Marino" width="128" height="128" id="headshot">
    {%- endif %}

    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
