<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} &mdash; Daniel Marino</title>
    <meta description="Daniel Marino is passionate about crafting simple, high-quality experiences.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%- if ('/resume' in page.url) or ('/work' in page.url) %}
      <meta name="robots" content="noindex">
    {%- endif %}

    <link rel="alternate" type="application/rss+xml" title="Daniel Marino" href="https://iamdanielmarino.com/feed.xml" />
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/favicon.svg" color="black">
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/" aria-label="Daniel Marino">DM</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/feed.xml">Feed</a></li>
        <li><a href="https://letterbird.co/iamdanielmarino">Contact</a></li>
      </ul>
    </nav>

    {%- if page.url == '/' %}
      <img src="/img/headshot.jpg" alt="Headshot of Daniel Marino" width="128" height="128" id="headshot">
    {%- endif %}

    <main>
      {{ content | safe }}
    </main>
    
    <script async data-goatcounter="https://starzonmyarmz.goatcounter.com/count" src="//gc.zgo.at/count.js"></script>
  </body>
</html>
