<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Music &mdash; Daniel Marino</title>
    <meta name="description" content="Music by Daniel Marino">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/favicon.svg" color="black">
    <link rel="stylesheet" href="/music.css">
  </head>
  <body>
    <h1>
      <a href="/">Daniel Marino</a> is composing music
    </h1>

    <main class="content">
      {% block main %}
        {{ content | safe }}
      {% endblock %}
    </main>

    <script src="/music.js"></script>
  </body>
</html>
