---
layout: base.njk
---

<article>
  <header>
    <h1>{{ title }}</h1>

    {%- if '/posts' in page.url %}
      <small>{{ page.date | dateFilter }}</small>
    {%- endif %}

    {%- if '/work' in page.url %}
      <small>{{ blurb }}</small>
    {%- endif %}
  </header>

  <section class="post-content">
    {{ content | safe }}
  </section>
</article>
