---
layout: base.njk
---

<article>
  <header>
    <h1>{{ title }}</h1>

    {% if '/posts' in page.url %}
      <div>{{ page.date | dateFilter }}</div>
    {% endif %}

    {% if '/work' in page.url %}
      <div>{{ blurb }}</div>
    {% endif %}
  </header>

  <section class="post-content">
    {{ content | safe }}
  </section>
</article>
