<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>State Mottos &mdash; Daniel Marino</title>
    <meta name="description" content="Hand-lettered US state mottos by Daniel Marino">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/favicon.svg" color="black">
    <link rel="stylesheet" href="/states.css">
  </head>
  <body>
    <h1>
      <a href="/">Daniel Marino</a> is hand-lettering US state mottos
    </h1>

    <main class="content">
      {% block main %}
        {{ content | safe }}
      {% endblock %}
    </main>

    <script>
      document
        .querySelectorAll('button[aria-label*="Zoom in"]')
        .forEach((el) => {
          el.addEventListener('click', ({currentTarget}) => {
            currentTarget
              .nextElementSibling
              .showModal()
          })
        })
      document
        .querySelectorAll('dialog')
        .forEach((el) => {
          el.addEventListener('click', ({currentTarget}) => {
            currentTarget.close()
          })
        })
    </script>
  </body>
</html>
