<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>State Mottos &mdash; Daniel Marino</title>
    <meta name="description" content="Hand-lettered US state mottos by Daniel Marino">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/favicon.svg" color="black">
    <link rel="stylesheet" href="/css/states.css">
  </head>
  <body>
    <h1>Hand-lettered US State Mottos by <a href="/">Daniel Marino</a></h1>

    <main class="content">
      {% block main %}
        {{ content | safe }}
      {% endblock %}
    </main>

    <script>
      document.addEventListener('click', ({target}) => {
        if (!target.closest('button')) return
        target.closest('button').classList.toggle('big')
      })
    </script>
  </body>
</html>
