*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  min-height: 100dvh;
}

html {
  background: #fff;
  color: #001219;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

body {
  margin: 1rem;
  padding: 1rem;
}

a {
  color: oklch(56.18% 0.247 26.87);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

h1 {
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 1;
  margin: 10dvh 0;
  text-align: center;
  text-wrap: balance;
}

canvas {
  display: block;
  object-fit: contain;
  max-height: 100vh;
  max-width: 100vw;
  padding: 1rem;
}

#gallery {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;

  @media (width > 768px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

#gallery a {
  display: block;
  overflow: hidden;
  position: relative;
}

#gallery img {
  display: block;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  transition: all 1s;
  width: 100%;
}

#gallery a:hover img {
  opacity: 1;
  transform: scale(1.1);
}

#back {
  align-items: center;
  color: currentcolor;
  display: flex;
  left: 1rem;
  position: fixed;
  text-decoration: none;
  user-select: none;
  top: 1rem;
}

#back::before {
  content: "👈🏻";
  display: inline-block;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s;
  width: 0;
}

#back:hover::before {
  opacity: 1;
  width: 2ch;
}
