@view-transition {
  navigation: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  background-color: lightblue;
  font-size: 1rem;
}

main {
  display: grid;
  display: grid-lanes;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-inline: 10vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
ul {
  text-wrap: pretty;
}

a {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  touch-action: manipulation;
}

.box {
  background-color: white;
  box-shadow: 0 3px 6px -3px rgb(0 0 0 / 0.3);
  border-radius: 2rem;
  corner-shape: squircle;
  padding: 1rem;

  p {
    margin-top: 0.5rem;
  }

  &:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }

  &:not(:first-child) p {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#redesign {
  background: #222;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
