<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Daniel Marino &mdash; Product Designer</title>

    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/favicon.svg" color="black">

    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div id="{{ pageType }}" class="wrapper">
      {% if pageType == 'home' %}
        <img id="headshot" src="/img/marino.jpg" alt="Headshot of Daniel Marino">
      {% endif %}

      {% if pageType != 'home' %}
        <header id="logo" role="banner">
          <a href="/">Daniel Marino</a>
        </header>
      {% endif %}

      {% block content %}
      {% endblock content %}

      <footer id="site-footer">
        <nav class="nav">
          <ul>
            {% if pageType != 'home' %}
              <li><a href="/">Home</a></li>
            {% endif %}
            <li><a href="/posts">Posts</a></li>
            <li><a href="/feed.xml">RSS Feed</a></li>
            <li><a href="https://twitter.com/starzonmyarmz">Twitter</a></li>
            <li><a href="https://dribbble.com/starzonmyarmz">Dribbble</a></li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
</html>
