<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}{% if pageType != 'home' %} &mdash; Daniel Marino{% endif %}</title>
    <meta description="Daniel Marino is passionate about crafting simple, high-quality experiences.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:image" content="{{ site.url }}/img/marino.jpg">
    <meta property="og:url" content="{{ site.url }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.authorHandle }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:image" content="{{ site.url }}/img/marino.jpg">
    {% if description %}
      <meta property="og:description" content="{{ description }}">
      <meta name="twitter:description" content="{{ description }}">
    {% endif %}

    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/favicon.svg" color="black">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="alternate" type="application/rss+xml" title="Posts" href="/feed.xml">
  </head>
  <body>
    <div id="{{ pageType }}" class="wrapper">
      {% if pageType == 'home' %}
        <img id="headshot" src="/img/marino.jpg" alt="Headshot of Daniel Marino">
      {% else %}
        <header id="logo" role="banner">
          <a href="/">Daniel Marino</a>
        </header>
      {% endif %}

      {% block content %}
      {% endblock content %}

      <footer id="site-footer">
        <nav class="nav">
          <ul>
            {% if pageType != 'home' %}
              <li><a href="/">Home</a></li>
            {% endif %}
            <li><a href="/posts">Posts</a></li>
            <li><a href="/feed.xml">RSS Feed</a></li>
            <li><a href="https://twitter.com/starzonmyarmz">Twitter</a></li>
            <li><a href="https://dribbble.com/starzonmyarmz">Dribbble</a></li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
</html>
