<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Resume &mdash; Daniel Marino</title>
    <meta name="robots" content="noindex">
    <meta description="Daniel Marino is passionate about crafting simple, high-quality experiences.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/favicon.svg" color="black">
    <link rel="stylesheet" href="/css/resume.css">
    <link rel="alternate" type="application/rss+xml" title="Posts" href="/feed.xml">
  </head>
  <body>
    <header>
      <h1 class="bap">Daniel Marino</h1>
      <h2>Product Designer at Harvest focused on building an accessible design system.</h2>

      <ul>
        <li><a href="https://iamdanielmarino.com">iamdanielmarino.com</a></li>
        <li><a href="mailto:starzonmyarmz@gmail.com">starzonmyarmz@gmail.com</a></li>
        <li><a href="tel:6037323338">(603) 732-3338</a></li>
      </ul>
    </header>

    <section>
      <h3>Experience</h3>

      <div>
        <article>
          <h4>Harvest <span>Product Designer</span></h4>
          <small>April 2013 — present</small>
          <p>Currently leading a team to deliver an internally-distributed design system. I define the roadmap, write documentation, and design/build pattern implementations. I champion best-practices for implementing accessible UI/UX solutions across our products. Oversee projects, design, and front-end engineering for building new, and maintining existing features in Harvest.</p>
        </article>

        <article>
          <h4>Full Stack <span>Designer & Front-end Engineer</span></h4>
          <small>March 2009 — April 2013</small>
          <p>Designed and front-end developed several client SaaS web applications. Designed and developed client WordPress websites.</p>
        </article>

        <article>
          <h4>DynDNS <span>UI Developer</span></h4>
          <small>August 2008 — March 2009</small>
          <p>Designed, developed, and maintained company websites using PHP, Flash, HTML, CSS and JavaScript.</p>
        </article>

        <article>
          <h4>PC Connection <span>Web Designer</span></h4>
          <small>March 2005 — August 2008</small>
          <p>Designed web content for large eCommerce platform. Designed and developed several dynamic interactive Flash applications.</p>
        </article>
      </div>
    </section>

    <section>
      <h3>Education</h3>
      <p>BS in Communications Media with a concentration in Graphic Design. Fitchburg State College, Fitchburg, MA.</p>
    </section>

    <section>
      <h3>Skills</h3>
      <p>I design with Figma, Sketch, Pixelmator, and Principle. I build with HTML, CSS, JavaScript, Ruby on Rails, and PHP. I use Git, love prototyping ideas, and am capable of project management.</p>
    </section>
  </body>
</html>
