:root {
  --background: 255, 255, 255;
  --text: #333;
  --text-medium: #555;
  --primary: #eb4d55;
  --primary-dark: #d61e23;
  --sans: 'Source Sans', helvetica, arial, sans-serif;
  --serif: 'Source Serif', georgia, serif;
  --gutter-pad: 4.5rem;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background: 40, 44, 52;
    --text: #dedede;
    --text-medium: #aaa;
    --primary: #FA838C;
    --primary-dark: #FB5B65;
  }

  img {
    opacity: 0.75;
  }
}


@font-face {
  font-family: 'Source Sans';
  src: url('/font/SourceSansVariable-Roman.ttf.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif';
  src: url('/font/SourceSerifVariable-Roman.otf.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif';
  src: url('/font/SourceSerifVariable-Italic.otf.woff2');
  font-weight: normal;
  font-style: italic;
}



@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}



*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

html, body {
  min-height: 100vh;
}

body {
  animation: fadeIn 250ms 250ms both;
  background-color: rgb(var(--background));
  color: var(--text);
  font-family: var(--serif);
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: "wght" 375;
  font-feature-settings: 'liga', 'clig';
  line-height: 1.45;
  margin: 0;
  text-rendering: optimizelegibility;
}

a {
  color: var(--primary-dark);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans);
  font-variation-settings: "wght" 500;
  letter-spacing: -0.03rem;
  margin: 0;
}

img, svg {
  max-width: 100%;
  vertical-align: middle;
}

small {
  font-size: 1rem;
}



/* Layout */

.wrapper {
  padding: 1.5rem;
}

#headshot {
  grid-area: headshot;
  height: 128px;
  object-fit: cover;
  width: 128px;
}

#content {
  grid-area: content;
}

#site-footer {
  border-top: 1px solid var(--text-medium);
  grid-area: footer;
  margin-top: 3rem;
  padding-top: 1rem;
}

#site-footer a {
  color: var(--text-medium);
}




/*  Home */

#headline {
  font-size: 2.25rem;
  font-variation-settings: "wght" 650;
  line-height: 1.1;
  margin: 1rem 0;
}



/*  Posts List  */

.posts {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
}

.posts li {
  line-height: 1.2;
  margin-top: 1rem;
}

.posts h3 {
  font-size: 1.4rem;
  margin: 0;
}

.posts li {
  color: var(--text-medium);
}

#view-all {
  display: inline-block;
  font-size: 1rem;
  font-style: italic;
  margin-top: 1rem;
}



/*  Navigation  */

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 1rem;
  margin-right: 1rem;
}



/*  Logo  */

#logo {
  font-family: var(--sans);
  font-size: 1.5rem;
  font-variation-settings: "wght" 250;
  line-height: 1;
  margin-bottom: 2.75rem;
}

#logo a {
  letter-spacing: -0.03rem;
  text-decoration: none;
}

#logo small {
  color: var(--text-medium);
  font-variation-settings: "wght" 350;
}



/*  Post Content  */

.post-header {
  margin-bottom: 2.75rem;
}

.post-title {
  font-size: 2.75rem;
  font-variation-settings: "wght" 650;
  line-height: 1;
  margin: 0 0 0.5rem;
}

.post-meta {
  color: var(--text-medium);
  font-size: 1.1rem;
}

.post-content h2 {
  font-size: 2rem;
  margin-top: 2.5rem;
}

.post-content h3 {
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

.post-content li + li {
  margin-top: 0.5rem;
}



@media (min-width: 800px) {

  /*  Layout  */

  .wrapper {
    display: grid;
    grid-template-areas: "header aside" "content aside" "footer aside";
    grid-template-columns: auto;
    grid-template-rows: auto;
    min-height: 100vh;
    padding: 0;
    position: relative;
  }

  .wrapper:before {
    background: linear-gradient(-135deg, var(--primary) 0%, var(--primary-dark) 100%);
    content: '';
    display: block;
    height: 100vh;
    position: fixed;
    width: 0.5rem;
    z-index: 1000;
  }

  #home {
    grid-template-columns: minmax(auto, 50vw) minmax(400px, 1fr);
    grid-template-rows: min-content 1fr min-content;
  }

  #post,
  #archives {
    grid-template-columns: minmax(auto, 832px) 1fr;
    grid-template-rows: min-content 1fr min-content;
  }

  #content {
    padding: 0 var(--gutter-pad);
  }

  #headshot {
    bottom: 0;
    grid-area: aside;
    height: 100vh;
    position: sticky;
    right: 0;
    top: 0;
    width: 100%;
  }

  #logo {
    grid-area: header;
    margin: 4rem 0 4rem var(--gutter-pad);
  }

  #site-footer {
    background: linear-gradient(rgba(var(--background), 0), rgb(var(--background)) 25%);
    border: 0;
    margin: 0;
    padding: 3rem var(--gutter-pad) 2rem var(--gutter-pad);
  }

  #home #site-footer {
    bottom: 0;
    position: sticky;
  }



  /*  Home  */

  #headline {
    margin: 3rem 0 1rem;
  }

  #home #content {
    align-self: center;
  }



  /*  Recent Posts  */

  #recent-posts {
    margin: 2rem 0 0;
  }



  /*  Post Content  */

  .post-title {
    line-height: 1.3;
    margin: 0;
  }
}



/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * @author ericwbailey
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1rem;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.4;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1rem 1.25rem;
	margin: 1.25rem 0;
	overflow: auto;
	border-radius: 0.3rem;
  width: 100%;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: rgb(40, 44, 52);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1rem;
	border-radius: 0.3rem;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #d4d0ab;
}

.token.punctuation {
	color: #fefefe;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #ffa07a;
}

.token.boolean,
.token.number {
	color: #00e0e0;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #abe338;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #00e0e0;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #ffd700;
}

.token.keyword {
	color: #00e0e0;
}

.token.regex,
.token.important {
	color: #ffd700;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

@media screen and (-ms-high-contrast: active) {
	code[class*="language-"],
	pre[class*="language-"] {
		color: windowText;
		background: window;
	}

	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		background: window;
	}

	.token.important {
		background: highlight;
		color: window;
		font-weight: normal;
	}

	.token.atrule,
	.token.attr-value,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.selector {
		font-weight: bold;
	}

	.token.attr-value,
	.token.comment,
	.token.doctype,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.property,
	.token.string {
		color: highlight;
	}

	.token.attr-value,
	.token.url {
		font-weight: normal;
	}
}
