:root {
  --primary: #eb4d55;
  --primary-dark: #d61e23;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  background-color: #fff;
  color: #333;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-rendering: optimizelegibility;
}

a {
  color: var(--primary-dark);
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0
}

img, svg {
  vertical-align: middle;
}

small {
  font-size: 0.95rem;
}



/*  Layout  */

.wrapper {
  display: grid;
  grid-template-areas: "content aside" "footer aside";
  position: relative;
}

.wrapper:before {
  background: linear-gradient(-135deg, var(--primary) 0%, var(--primary-dark) 100%);
  content: '';
  display: block;
  height: 100vh;
  position: fixed;
  width: 0.5rem;
}

#home {
  grid-template-columns: minmax(auto, 50vw) minmax(400px, 1fr);
  grid-template-rows: 1fr min-content;
}

#post {
  grid-template-columns: minmax(auto, 768px) 1fr;
}

#content {
  grid-area: content;
  padding: 4rem 4rem 4rem 4.5rem;
}

#headshot {
  grid-area: aside;
  height: 100vh;
  object-fit: cover;
  width: 100%;
}

#navigation {
  grid-area: footer;
  padding: 0 2rem 2rem 4.5rem;
}




/*  Home  */

#headline {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0 0 1rem;
}

#home #content {
  align-self: center;
}



/*  Recent Posts  */

#recent-posts {
  list-style: none;
  margin: 2rem 0 0;
  padding: 0;
}

#recent-posts li {
  line-height: 1.2;
  margin-top: 1rem;
}

#recent-posts h3 {
  font-size: 1.4rem;
  margin: 0;
}

#navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation li {
  display: inline-block;
  font-size: 1rem;
  margin-right: 1rem;
}



/*  Post Content  */

.post-header {
  margin-bottom: 2.75rem;
}

.post-title {
  font-size: 2.75rem;
  letter-spacing: -.05rem;
  line-height: 1.3;
  margin: 4rem 0 0;
}

.post-meta {
  color: #555;
  font-size: 1rem;
}

.post-content h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
}
