:root {
  --background: #fff;
  --text: #001219;
  --primary: #d61e23;
  --sans: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background: var(--background);
  color: var(--text);
  font-family: var(--sans);
  font-weight: 300;
  line-height: 1.4;
}

body {
  font-size: 1rem;
  margin: 1rem;
}

a {
  color: var(--primary);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
}

button span {
  display: none;
}

h1 {
  font-family: 900;
  margin: 10vh 0;
  text-align: center;
}

img {
  height: 100%;
  object-fit: contain;
  vertical-align: middle;
  width: 100%;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.big {
  background: rgb(0 0 0 / 0.8);
  inset: 0;
  padding: 48px 48px 72px;
  position: fixed;
}

.big span {
  color: var(--background);
  display: block;
  font-size: 1.2rem;
  margin: 24px;
}

@media (min-width: 768px) {
  section {
    grid-template-columns: repeat(5, 1fr);
  }
}
