---
layout: base.njk
title: Home
---

<div id="hero">
  <h1>Daniel Marino is passionate about crafting simple, high-quality experiences.</h1>
  <p>Currently a Product Designer at <a href="https://getharvest.com" rel="noopener" target="_blank">Harvest</a>. In his spare time he chills with his family, <a href="https://brandunino.com" rel="noopener" target="_blank">makes video games</a>, <a href="/state-mottos">hand-letters US state mottos</a>, and <a href="https://soundcloud.com/starzonmyarmz" rel="noopener" target="_blank">composes music</a>.</p>
</div>