---
layout: base.njk
title: Home
---

<div id="hero">
  <div>
    <h1>Daniel Marino is dedicated to creating simple, high-quality experiences.</h1>
    <p>He currently works as a Product Designer at <a href="https://getharvest.com" rel="noopener" target="_blank">Harvest</a>. Outside of work, he enjoys spending time with family, woodworking, making <a href="https://brandunino.com" rel="noopener" target="_blank">video games</a>, hand-lettering <a href="/state-mottos">US state mottos</a>, <a href="https://soundcloud.com/starzonmyarmz" rel="noopener" target="_blank">composing music</a>, and experimenting with <a href="https://starzonmyarmz.github.io/generative-art/" rel="noopener" target="_blank">generative art</a>.</p>
  </div>
</div>
