---
layout: base.njk
title: Home
---

<div id="hero">
  <div>
    <h1>Daniel Marino is dedicated to creating simple, high-quality experiences.</h1>
    <p>He currently works as a UX Engineer at <a href="https://planningcenter.com" target="_blank">Planning Center</a>. Outside of work, he enjoys spending time with family, woodworking, making <a href="https://brandunino.com" target="_blank">video games</a>, hand-lettering <a href="/state-mottos">US state mottos</a>, <a href="/music">composing music</a>, and experimenting with <a href="/generative-art/">generative art</a>.</p>
  </div>
</div>
