---
layout: music.njk
permalink: /music/
---

<section>
  {% for song in music %}
    <button aria-label="Play {{song.title}}" class="paused">
      <h2 aria-hidden="true">{{song.title}}</h2>
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <g id="paused">
          <circle cx="12" cy="12" r="10"/>
          <polygon points="10 8 16 12 10 16 10 8"/>
        </g>
        <g id="playing">
          <circle cx="12" cy="12" r="10"/>
          <line x1="10" y1="15" x2="10" y2="9"/>
          <line x1="14" y1="15" x2="14" y2="9"/>
        </g>
      </svg>
      <img src="/images/music/{{song.title | slugify}}.webp" alt="{{song.title}}" width="256" height="256" loading="lazy" aria-hidden="true">
      <audio src="/music/{{song.title | slugify}}.mp3" preload="none"></audio>
    </button>
  {% endfor %}
</section>
