---
layout: base.njk
title: Resume
---

<article>
  <header>
    <h1 class="bap">Daniel Marino</h1>
    <div>Product Designer at Harvest focused on building an accessible design system.</div>

    <ul>
      <li><a href="https://iamdanielmarino.com">iamdanielmarino.com</a></li>
      <li><a href="mailto:starzonmyarmz@gmail.com">starzonmyarmz@gmail.com</a></li>
      <li><a href="tel:6037323338">(603) 732-3338</a></li>
    </ul>
  </header>

  <h2>Experience</h2>

  <h3>Senior Product Designer, Harvest</h3>
  <small>April 2013 — present</small>
  <p>Currently leading a team to deliver an internally-distributed design system. I define the roadmap, write documentation, and design/build pattern implementations. I champion best-practices for implementing accessible UI/UX solutions across our products. Oversee projects, design, and front-end engineering for building new, and maintining existing features in Harvest.</p>

  <h3>Designer &amp; Front-end Engineer, Full Stack</h3>
  <small>March 2009 — April 2013</small>
  <p>Designed and front-end developed several client SaaS web applications. Designed and developed client WordPress websites.</p>

  <h3>UI Developer, DynDNS</h3>
  <small>August 2008 — March 2009</small>
  <p>Designed, developed, and maintained company websites using PHP, Flash, HTML, CSS and JavaScript.</p>

  <h3>Web Designer, PC Connection</h3>
  <small>March 2005 — August 2008</small>
  <p>Designed web content for large eCommerce platform. Designed and developed several dynamic interactive Flash applications.</p>

  <h2>Education</h2>
  <p>BS in Communications Media with a concentration in Graphic Design. Fitchburg State College, Fitchburg, MA.</p>

  <h2>Skills</h2>
  <p>I design with Figma, Sketch, Pixelmator, and Principle. I build with HTML, CSS, JavaScript, Ruby on Rails, and PHP. I use Git, love prototyping ideas, and am capable of project management.</p>
</article>