---
layout: base.njk
title: Resume
---

<article>
  <header>
    <h1 class="bap">Daniel Marino</h1>
    <div>Product Designer at Harvest focused on building an accessible design system.</div>

    <ul>
      <li><a href="https://iamdanielmarino.com">iamdanielmarino.com</a></li>
      <li><a href="mailto:iamdanielmarino@gmail.com">iamdanielmarino@gmail.com</a></li>
      <li><a href="tel:6037323338">(603) 732-3338</a></li>
    </ul>
  </header>

  <h2>Experience</h2>

  <h3>Senior Product Designer, Harvest</h3>
  <small>April 2013 – present</small>
  <p>I champion best-practices for implementing accessible UI/UX solutions across our products while leading projects, designing, and front-end engineering. Currently I’m working with a small team to implement updates to our Reporting module. Recently, I delivered a design system: defining the roadmap, writing guidelines, and designing/developing an accessible and device-responsive component library.</p>

  <h3>Designer &amp; Front-end Engineer, Full Stack</h3>
  <small>March 2009 – April 2013</small>
  <p>Worked with a small team, regularly engaging with customers to design and develop greenfield web applications. I also worked with small business customers creating dynamic marketing websites with WordPress—several of which were featured in CSS galleries. Responsible for defining roadmaps, running user tests, designing mockups and prototypes, and implementing HTML, CSS, and JavaScript.</p>

  <h3>UI Developer, DynDNS</h3>
  <small>August 2008 – March 2009</small>
  <p>Responsible for designing and front-end developing much of the visual presence on the web, including writing Strict XHTML, CSS and JavaScript. I regularly created and presented visual mockups on a regular basis for the company CEO. I also did some PHP coding and occasionally tackled some light Perl scripting. I also created print materials such as whitepapers, advertisements, and artwork for the company arcade machine.</p>

  <h3>Web Designer, PC Connection</h3>
  <small>March 2005 – August 2008</small>
  <p>Create web-based graphics for PC Connection’s websites and affiliate websites. Designed, built, and maintain a custom Content Management System using .NET. Also design and build interactive Flash applications that process dynamic data. Built a dynamic Flash Media Player which was a winner of the 2008 American Inhouse Design Awards by Graphic Design USA.</p>

  <h2>Education</h2>
  <p>BS in Communications Media with a concentration in Graphic Design. <br> <small>Fitchburg State College, Fitchburg, MA.</small></p>

  <h2>Skills</h2>
  <p>I design with Figma, Sketch, Pixelmator, and Principle. I specialize in creating HTML, CSS, and presentational JavaScript. I’m comfortable in React, Storybook, Eleventy, Ruby on Rails, and PHP environments. I use Git, love prototyping, enjoy pairing with others, and am a capable squad leader.</p>
</article>