---
layout: states.njk
permalink: /state-mottos/
---

<section>
  {% for state in states %}
    <button type="button" data-enlarge>
      <img src="/img/smp/{{ state.abbreviation }}.webp" alt="{{ state.name }} &mdash; {{ state.motto }}" width="800" height="800" loading="lazy">
      <span>{{ state.name }} &mdash; {{ state.motto }}</span>
    </button>
  {% endfor %}
</section>
