---
layout: states.njk
permalink: /state-mottos/
---

<section>
  {% for state in states %}
    <button aria-label="Zoom in on {{ state.name }}">
      <img src="/img/smp/{{ state.abbreviation }}.webp" alt="{{ state.name }} — {{ state.motto }}" width="800" height="800" loading="lazy">
    </button>
    <dialog>
      <img src="/img/smp/{{ state.abbreviation }}.webp" alt="{{ state.name }} — {{ state.motto }}" width="800" height="800" loading="lazy">
      <div>{{ state.name }} — {{ state.motto }}</div>
    </dialog>
  {% endfor %}
</section>
