---
layout: base.njk
title: Work
permalink: /work/
---

<header>
  <h1>{{ title }}</h1>
</header>

<p style="margin-block-start: 0">Selected case studies from my 11 years of experience at <a href="https://getharvest.com">Harvest</a>, showcasing notable projects I’ve been actively engaged in:</p>

<ul class="posts">
  {% for post in collections.work | categoryFilter('casestudy') %}
    <li>
      <h3>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h3>
      <small>{{ post.data.blurb }}</small>
    </li>
  {% endfor %}
</ul>

<p>Check out <a href="https://dribbble.com/starzonmyarmz" target="_blank" rel="noopener">Dribbble</a> and <a href="https://github.com/starzonmyarmz">GitHub</a> for more examples of my work.</p>
